ul {
    list-style-type: none;
    color:#999999;
}
  ul li:before {
    content: '\2014';
    position: absolute;
    margin-left: -20px;
}

html {
    background-color: rgb(69, 69, 204);
}

li {
    font-size: 18px;
    background-color: orange;
}